<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class"> com.mysql.cj.jdbc.Driver </property>
        <property name="hibernate.connection.url"> jdbc:mysql://localhost:3306/hotelwebdb </property>
        <property name="hibernate.connection.username"> root </property>
        <!--  REPLACE THIS with your actual MySQL password  -->
        <property name="hibernate.connection.password"> #999Zombie@ </property>
        <property name="hibernate.dialect"> org.hibernate.dialect.MySQLDialect </property>
        <!--  This auto-creates/updates tables based on your entity classes  -->
        <property name="hibernate.hbm2ddl.auto"> update </property>
        <property name="hibernate.show_sql"> true </property>
        <!--  ENTITY MAPPINGS  -->
        <mapping class="com.hotel.entity.UserEntity"/>
        <mapping class="com.hotel.entity.RoomEntity"/>
        <mapping class="com.hotel.entity.FoodEntity"/>
        <mapping class="com.hotel.entity.PaymentEntity"/>
    </session-factory>
</hibernate-configuration>